<div class="row mt-2">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <colgroup>
          <col width="10%"/>
          <col width="45%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="15%"/>
        </colgroup>
        <thead>
        <tr>
          <th>Person ID</th>
          <th>User</th>
          <th>Total Attempts</th>
          <th>Failed Attempts <fa-icon [icon]="faAngleDown"></fa-icon></th>
          <th>Passed Attempts</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="5"></td>
        </tr>
        </tfoot>
        <tbody>
        <ng-template [ngIf]="reports && !loading" [ngIfElse]="loader">
          <tr *ngFor="let report of reports">
            <td>{{report.user.person_id}}</td>
            <td><a routerLink="/quizzes/{{report.quiz.id}}/attempts/users/{{report.user.id}}">{{report.user.firstName}} {{report.user.lastName}}</a></td>
            <td>{{report.attempts_count}}</td>
            <td>{{report.failed_count}}</td>
            <td>{{report.passed_count}}</td>
          </tr>
          <tr *ngIf="reports.length === 0">
            <td colspan="5">No attempts found.</td>
          </tr>
        </ng-template>
        <ng-template #loader>
          <tr>
            <td colspan="5">
              <ws-spinner></ws-spinner>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
