<div class="row mt-2">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <colgroup>
          <col width="25%"/>
          <col width="20%"/>
          <col width="25%"/>
          <col width="10%"/>
          <col width="10%"/>
          <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
          <th>{{ 'th_person' | translate }}</th>
          <th>{{ 'th_position' | translate }}</th>
          <th>{{ 'th_member' | translate }}</th>
          <th>{{ 'th_total_attempts' | translate }} <fa-icon [icon]="faAngleDown"></fa-icon></th>
          <th>{{ 'th_failed_attempts' | translate }}</th>
          <th>{{ 'th_passed_attempts' | translate }}</th>
        </tr>
        <tr>
          <td><input type="text" class="form-control form-control-sm" [(ngModel)]="filterPerson" placeholder="{{ 'search_by_name' | translate }}"></td>
          <td><input type="text" class="form-control form-control-sm" [(ngModel)]="filterPosition" placeholder="{{ 'filter_by_position' | translate }}"></td>
          <td><input type="text" class="form-control form-control-sm" [(ngModel)]="filterMember" placeholder="{{ 'filter_by_member' | translate }}"></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="6"></td>
        </tr>
        </tfoot>
        <tbody>
        <ng-template [ngIf]="reports && !loading" [ngIfElse]="loader">
          <tr *ngFor="let report of reports | attemptsFilter:filterPerson:filterPosition:filterMember">
            <td><a routerLink="/quizzes/{{report.quiz.id}}/attempts/people/{{report.person.id}}">{{report.person.first_name}} {{report.person.last_name}}</a></td>
            <td>{{report.position?.position.name.text || '-'}}</td>
            <td>{{report.position?.member?.name.text || '-'}}</td>
            <td>{{report.attempts_count}}</td>
            <td>{{report.failed_count}}</td>
            <td>{{report.passed_count}}</td>
          </tr>
          <tr *ngIf="reports.length === 0">
            <td colspan="6">{{ 'no_attempts_found' | translate }}</td>
          </tr>
        </ng-template>
        <ng-template #loader>
          <tr>
            <td colspan="6">
              <ws-spinner></ws-spinner>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
