<form [ngClass]="{'was-validated': this.form.submitted}" novalidate
      (ngSubmit)="submit()" #form="ngForm">
  <div class="form-group">
    <label for="title">Title<span class="required">*</span></label>
    <input type="text" class="form-control" id="title" name="title" required
           [ngModel]="quiz && quiz.title ? quiz.title.text : ''">
    <small class="form-text text-danger" style="display: block"
          *ngIf="form.submitted && this.form.controls.title.errors && this.form.controls.title.errors.required">
    Please enter a title!</small>
  </div>
  <div class="form-row">
  <div class="form-group col-md-8">
    <label for="description">Description</label>
    <ckeditor
      [editor]="editor"
      (ready)="onReady($event, http)"
      [config]="config"
      name="description"
      id="description"
      [ngModel]="quiz && quiz.description ? quiz.description.text : ''">
    </ckeditor>
  </div>
  </div>
  <div class="form-group">
    <label for="ws_entity">Entity<span
      class="required">*</span></label>
    <ws-entity-tree-select
      id="ws_entity"
      name="ws_entity"
      required
      [query]="{role: 'EditQuizzes', roleApp: 1300}"
      [ngModel]="quiz && quiz.ws_entity ? quiz.ws_entity.id : null">
    </ws-entity-tree-select>
    <small class="form-text text-muted">
      <span class="text-danger"
            *ngIf="form.submitted && this.form.controls.ws_entity.errors && this.form.controls.ws_entity.errors.required">
        Please select an entity!
      </span>
      Permission object of the quiz, select the organization you are working for or the skill it belongs to.
    </small>
  </div>
  <div class="form-group">
    <label for="event">Event</label>
    <ng-select
      [wsSelect]="['id', 'name']"
      [items]="events ? events.events : []"
      id="event"
      name="event"
      (change)="onEventChange()"
      [ngModel]="quiz && quiz.event ? quiz.event.id : null"
    ></ng-select>
  </div>
  <div class="form-group">
    <label for="skill">
      Skill
      <span *ngIf="skillsLoading">
        (loading…)
      </span>
    </label>
    <ng-select
      [wsSelect]="['id', 'name.text']"
      [items]="skills ? skills.skills : []"
      [disabled]="!skills || skillsLoading"
      id="skill"
      name="skill"
      [ngModel]="quiz && quiz.skill ? quiz.skill.id : null"
    ></ng-select>
  </div>
  <div class="form-row">
  <div class="form-group col-md-4">
    <label for="max_questions">Max Questions</label>
    <input type="text" class="form-control" id="max_questions" name="max_questions"
           [ngModel]="quiz ? quiz.max_questions : ''">
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-4">
    <label for="required_score_pass">Required score to pass</label>
    <input type="text" class="form-control" id="required_score_pass" name="required_score_pass"
           [ngModel]="quiz ? quiz.required_score_pass : ''">
    <small class="form-text text-muted">Leave empty to require all answers to be correct.</small>
  </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="random_questions" name="random_questions"
               [ngModel]="quiz ? quiz.random_questions : ''">
        Show random Questions
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="reveal_correct_answers" name="reveal_correct_answers"
               [ngModel]="quiz ? quiz.reveal_correct_answers : ''">
        Reveal correct answers after finishing quiz
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="allow_multiple_attempts" name="allow_multiple_attempts"
               [ngModel]="quiz ? quiz.allow_multiple_attempts : ''">
        Allow multiple attempts
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="active" name="active"
               [ngModel]="quiz ? quiz.active : ''">
        Active (Quiz can be answered)
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="url_learning">URL Learning</label>
    <input type="text" class="form-control" id="url_learning" name="url_learning"
           [ngModel]="quiz ? quiz.url_learning : ''">
    <small class="form-text text-muted">Address with information about the questions.</small>
  </div>
  <div class="form-group">
    <label for="url_success">URL Success</label>
    <input type="text" class="form-control" id="url_success" name="url_success"
           [ngModel]="quiz ? quiz.url_success : ''">
    <small class="form-text text-muted">Link for the user to continue after a passed quiz.</small>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" id="saveQuiz" [disabled]="quizzesLoading">Save
    </button>&nbsp;
    <a class="btn btn-secondary" routerLink="/quizzes">Cancel</a><br/>
    <ws-spinner *ngIf="quizzesLoading"></ws-spinner>
  </div>
</form>
