
.nav.nav-tabs {
    margin: 20px 0 30px 0;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.panel img {
    vertical-align: top;
}

.browserupgrade {
    background: #FAD954;
    padding: 0.5em 1em;
    text-align: center;
}

footer {
    padding-bottom: 70px;
}

@media (min-width: 768px) {

    .table {
        table-layout:fixed;
    }

    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
