<h3 *ngIf="attempts && !loading">{{ 'attempts' | translate }} {{attempts.attempts[0].user.firstName}} {{attempts.attempts[0].user.lastName}}</h3>

<div class="row mt-2">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <colgroup>
          <col width="10%"/>
          <col width="30%"/>
          <col width="30%"/>
          <col width="15%"/>
          <col width="15%"/>
        </colgroup>
        <thead>
        <tr>
          <th>{{ 'th_id' | translate }}</th>
          <th>{{ 'th_started' | translate }} <fa-icon [icon]="faAngleDown"></fa-icon></th>
          <th>{{ 'th_finished' | translate }}</th>
          <th>{{ 'th_score' | translate }}</th>
          <th>{{ 'th_passed' | translate }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="5"></td>
        </tr>
        </tfoot>
        <tbody>
        <ng-template [ngIf]="attempts && !loading" [ngIfElse]="loader">
          <tr *ngFor="let attempt of attempts.attempts">
            <td><a routerLink="/quizzes/{{quiz.id}}/attempts/{{attempt.id}}">{{attempt.id}}</a></td>
            <td>{{attempt.started|date:"d MMMM yyyy 'at' HH:mm"}}</td>
            <td>{{attempt.finished|date:"d MMMM yyyy 'at' HH:mm"}}</td>
            <td><span *ngIf="attempt.score !== null">{{attempt.score}}</span></td>
            <td>
              <span *ngIf="attempt.state === 'finished' && attempt.passed === true" class="text-success">{{ 'yes' | translate }}</span>
              <span *ngIf="attempt.state === 'finished' && attempt.passed === false" class="text-danger">{{ 'no' | translate }}</span>
            </td>
          </tr>
          <tr *ngIf="attempts.attempts.length === 0">
            <td colspan="5">{{ 'no_attempts_found' | translate }}</td>
          </tr>
        </ng-template>
        <ng-template #loader>
          <tr>
            <td colspan="5">
              <ws-spinner></ws-spinner>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="attempts">
      <ngb-pagination
        [collectionSize]="attempts.total_count"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="10"
        [boundaryLinks]="true"
        (pageChange)="fetch($event)">
      </ngb-pagination>
    </ng-container>
  </div>
</div>
