<ng-container *ngIf="form">
  <form class="form-horizontal" [ngClass]="{'was-validated': isSubmitted}" name="form" novalidate
        focus-error (submit)="submit()">
    <div class="form-group row" *ngIf="!locale">
      <label class="col-sm-3 col-form-label">Language <span
        class="required">*</span></label>
      <div class="col-sm-4">
        <select class="form-control" [formControl]="form.controls.locale">
          <option></option>
          <option value="de">{{'de' | langCodeToName}}</option>
          <option value="fr">{{'fr' | langCodeToName}}</option>
          <option value="pt_BR">{{'pt_BR' | langCodeToName}}</option>
        </select>
      </div>
      <div class="col-sm-5">
        <span class="help-block text-danger"
              *ngIf="!form.controls.locale.valid && form.controls.locale.touched">Please select a language!</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="title" class="col-sm-3 col-form-label">Title <span
        class="required">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="title" required
               [formControl]="form.controls.title">
      </div>
      <div class="col-sm-5">
        <span class="help-block"
              *ngIf="form.get('locale').errors && form.get('locale').errors.required && form.get('locale').touched">Please enter a title!</span>
      </div>
    </div>
    <div *ngFor="let questionControl of questionControls">
      <hr/>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Question {{questionControl.controls.sort.value}}
          <span
            class="required">*</span></label>
        <div class="col-sm-8 col-lg-5">
          <textarea class="form-control" rows="2" [formControl]="questionControl.controls.question"
                    appCkEditor></textarea>
        </div>
      </div>
      <div class="form-group row" *ngFor="let answerControl of getAnswerControls(questionControl)">
        <div class="col-sm-3 col-form-label">
          <fa-icon *ngIf="answerControl.controls.correct.value" [icon]="faCheck"
                   title="Answer is correct" class="text-success"></fa-icon>
          <fa-icon *ngIf="!answerControl.controls.correct.value" [icon]="faTimes"
                   title="Answer is not correct" class="text-danger"></fa-icon>
          Answer {{answerControl.get('sort').value}} <span class="required">*</span>
        </div>
        <div class="col-sm-8 col-lg-5">
          <textarea class="form-control" rows="2" [formControl]="answerControl.controls.answer"
                    appCkEditor></textarea>
        </div>
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button type="submit" class="btn btn-success">
          <ng-container *ngIf="!loading">Save Translation</ng-container>
          <ng-container *ngIf="loading">
            <ws-spinner></ws-spinner>
          </ng-container>
        </button>
        <a routerLink="/quizzes/{{quiz.id}}/translations" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="!form">
  <ws-spinner></ws-spinner>
</ng-container>

