<ng-container *ngIf="quiz && attempt">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">

      <div class="page-header">
        <h2>{{quiz.title.text || " "}}</h2>
      </div>

      <div
        *ngIf="attempt.state === 'finished' && attempt.passed === false"
        class="alert alert-danger"
        role="alert"
      >
        Your attempt failed with <strong>{{attempt.score}} of {{attempt.questions_count}}</strong>
        answers correct. <a href="" class="alert-link" (click)="retry()">Please take the quiz
        again</a>.
      </div>
      <div
        *ngIf="attempt.state === 'finished' && attempt.passed === true"
        class="alert alert-success"
        role="alert"
      >
        You have passed with <strong>{{attempt.score}} of {{attempt.questions_count}}</strong>
        answers correct<span *ngIf="quiz.url_success">, <a href="{{quiz.url_success}}"
                                                           class="alert-link">please continue</a></span>.
      </div>
      <div *ngIf="attempt.state === 'running'">
        <p>
          Your answers are automatically saved, to finish this attempt click “Submit and finish
          Quiz” at the end of the page.
          <span
            *ngIf="quiz.required_score_pass === null">All answers must be correct to pass.</span>
          <span
            *ngIf="quiz.required_score_pass !== null">You need to answer <strong>{{quiz.required_score_pass}}</strong> questions correctly to pass.</span>
        </p>
        <br/>
      </div>

      <ng-container *ngFor="let question of attempt.questions">
        <div
          style="margin-bottom: 20px;"
          [ngClass]="{card: true, 'border-default': question.correct === null, 'border-danger': question.correct === false, 'border-success': question.correct === true}">
          <h5 [ngClass]="{'card-header': true, 'mt-0': true, 'bg-danger': question.correct === false, 'bg-success': question.correct === true, 'text-white': (question.correct === false || question.correct === true)}">
            Question {{question.sort}}
          </h5>
          <div class="card-body">
            <p [innerHTML]="question.text.text"></p>
            <div class="form-group">
              <div class="form-check" *ngFor="let answer of question.answers" [ngClass]="{
                'text-danger': question.answer && question.answer.id === answer.id && question.correct === false,
                'text-success': (question.answer && question.answer.id === answer.id && question.correct === true)
                  || (question.answer && answer.correct === true && question.correct === false)
              }">
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="selectAnswer(question.id, answer.id)"
                  [value]="answer.id"
                  [checked]="question.answer ? answer.id === question.answer.id : false"
                  [disabled]="attempt.state === 'finished'"
                  id="answers_{{answer.id}}"
                />
                <label class="form-check-label" [attr.for]="'answers_' + answer.id">
                  {{alphabet[answer.sort - 1]}}:
                  <span [innerHTML]="answer.text.text"></span>
                  &nbsp;
                  <span
                    class="badge badge-danger"
                    *ngIf="question.answer && question.answer.id === answer.id && question.correct === false">
                    Incorrect
                  </span>
                  <span
                    class="badge badge-success"
                    *ngIf="(question.answer && question.answer.id === answer.id && question.correct === true)
                      || (question.answer && answer.correct === true && question.correct === false)">
                    Correct
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-sm-6">
          <button
            type="submit"
            class="btn btn-primary"
            *ngIf="attempt.state === 'running'"
            (click)="finish()">
            <ng-container *ngIf="!loading">Submit and finish Quiz</ng-container>
            <ng-container *ngIf="loading">
              <ws-spinner></ws-spinner>
            </ng-container>
          </button>

          <button
            type="button"
            class="btn btn-primary"
            *ngIf="attempt.state === 'finished'"
            (click)="retry()">
            Take Quiz again
          </button>
        </div>

        <div class="col-sm-6 text-right">
          <a
            class="btn btn-link"
            *ngIf="quiz.url_learning && (attempt.state === 'running' || attempt.passed === false)"
            href="{{quiz.url_learning}}">
            « Return to learning resources
          </a>

          <a
            class="btn btn-success pull-right"
            *ngIf="attempt.state === 'finished' && attempt.passed === true && quiz.url_success"
            href="{{quiz.url_success}}">
            Continue »
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(!quiz || !attempt) && loading">
  <ws-spinner></ws-spinner>
</ng-container>

<ng-container *ngIf="error">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <div class="page-header">
        <h2>Quiz not found</h2>
      </div>
    </div>
  </div>
</ng-container>
