<ng-container *ngIf="quiz && attempt">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">

      <h2>{{quiz.title.text || " "}}</h2>

      <div
        *ngIf="attempt.state === 'finished' && attempt.passed === false"
        class="alert alert-danger"
        role="alert"
      >
        {{'message_attempt_failed_with_score' | translate:{score: attempt.score, count: attempt.questions_count} }}
        <a [routerLink]="" class="alert-link" (click)="retry()">{{'please_take_the_quiz_again' | translate}}</a>.
      </div>
      <div
        *ngIf="attempt.state === 'finished' && attempt.passed === true"
        class="alert alert-success"
        role="alert"
      >
        {{'message_attempt_passed_with_score' | translate:{score: attempt.score, count: attempt.questions_count} }}
      </div>
      <div
        *ngIf="attempt.state === 'submitted'"
        class="alert alert-info"
        role="alert"
      >
        {{'attempt_submitted' | translate}}
      </div>
      <div *ngIf="attempt.state === 'running'">
        <p>
          {{'message_attempt_saved' | translate}}
          <span *ngIf="quiz.required_score_pass !== null">{{'message_attempt_score_needed' | translate:{required_score: quiz.required_score_pass} }}</span>
        </p>
      </div>

      <p [innerHTML]="quiz.description.text"></p>

      <div class="mt-4">
      <ng-container *ngFor="let question of attempt.questions">
        <div
          style="margin-bottom: 20px;"
          [ngClass]="{card: true, 'border-default': question.correct === null, 'border-danger': question.correct === false, 'border-success': question.correct === true}">
          <h5 [ngClass]="{'card-header': true, 'mt-0': true, 'bg-danger': question.correct === false, 'bg-success': question.correct === true, 'text-white': (question.correct === false || question.correct === true)}">
            {{'question_index' | translate:{index: question.sort} }}
          </h5>
          <div class="card-body">
            <p [innerHTML]="question.text.text"></p>
            <div class="form-group">
              <div class="form-check" *ngFor="let answer of question.answers" [ngClass]="{
                'text-danger': question.answer && question.answer.id === answer.id && question.correct === false,
                'text-success': (question.answer && question.answer.id === answer.id && question.correct === true)
                  || (question.answer && answer.correct === true && question.correct === false)
              }">
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="selectAnswer(question.id, answer.id)"
                  [value]="answer.id"
                  [checked]="question.answer ? answer.id === question.answer.id : false"
                  [disabled]="attempt.state === 'finished' || attempt.state === 'submitted'"
                  id="answers_{{answer.id}}"
                />
                <label class="form-check-label" [attr.for]="'answers_' + answer.id">
                  {{alphabet[answer.sort - 1]}}:
                  <span [innerHTML]="answer.text.text"></span>
                  &nbsp;
                  <span
                    class="badge badge-danger"
                    *ngIf="question.answer && question.answer.id === answer.id && question.correct === false">
                    {{'incorrect' | translate}}
                  </span>
                  <span
                    class="badge badge-success"
                    *ngIf="(question.answer && question.answer.id === answer.id && question.correct === true)
                      || (question.answer && answer.correct === true && question.correct === false)">
                    {{'correct' | translate}}
                  </span>
                </label>
              </div>
            </div>
            <div class="form-group" *ngIf="question.type === 'free_response'">
              <label [attr.for]="'free_response_' + question.id">{{'your_answer' | translate}}</label>
              <textarea
                class="form-control"
                id="free_response_{{question.id}}"
                rows="3"
                [(ngModel)]="question.response"
                (ngModelChange)="updateResponse($event, question)"
                [disabled]="attempt.state === 'submitted'"
              ></textarea>
            </div>
          </div>
        </div>
      </ng-container>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <button
            type="submit"
            class="btn btn-primary"
            *ngIf="attempt.state === 'running'"
            (click)="finish()">
            <ng-container *ngIf="!loading">{{'submit_finish_quiz' | translate}}</ng-container>
            <ng-container *ngIf="loading">
              <ws-spinner></ws-spinner>
            </ng-container>
          </button>

          <button
            type="button"
            class="btn btn-primary"
            *ngIf="attempt.state === 'finished'"
            (click)="retry()">
            {{'take_quiz_again' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(!quiz || !attempt) && loading">
  <ws-spinner></ws-spinner>
</ng-container>

<ng-container *ngIf="error">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <h2>{{'quiz_not_found' | translate}}</h2>
    </div>
  </div>
</ng-container>
