<ng-container *ngIf="attempt">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">

      <h2>{{ attempt.quiz.title.text }}</h2>

      <p class="text-muted">{{ 'submitted_by' | translate }} {{attempt.person.first_name}} {{attempt.person.last_name}} {{ 'on' | translate }} {{attempt.finished|date:"d MMMM yyyy 'at' HH:mm"}}<p>

      <div *ngIf="attempt.state === 'running'" class="alert alert-warning" role="alert">
        {{ 'message_attempt_not_submitted' | translate }}
      </div>

      <ng-container *ngFor="let question of attempt.questions">
        <div style="margin-bottom: 20px;" class="card border-default">
          <div class="card-header">
            <strong class="float-left">{{'question_index' | translate:{index: question.sort} }}</strong>
            <div class="clearfix"></div>
          </div>
          <div class="card-body">
            <div class="card-title" [innerHTML]="question.text.text"></div>
            <div class="form-group">
              <div class="form-check" *ngFor="let answer of question.answers">
                <input
                  class="form-check-input"
                  type="radio"
                  [ngModel]="question.answer ? question.answer.id : null"
                  [value]="answer.id"
                  [disabled]="true"
                  id="answers_{{answer.id}}"
                />
                <label class="form-check-label" [attr.for]="'answers_' + answer.id">
                  {{alphabet[answer.sort - 1]}}:
                  <span [innerHTML]="answer.text.text"></span>
                </label>
              </div>
            </div>
            <div class="form-group" *ngIf="question.type === 'free_response'">
              <label [attr.for]="'free_response_' + question.id">{{ 'answer' | translate }}:</label>
              <textarea
                class="form-control"
                id="free_response_{{question.id}}"
                rows="3"
                [value]="question.response"
                [disabled]="true"
              ></textarea>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</ng-container>
<ng-container *ngIf="!attempt">
  <ws-spinner></ws-spinner>
</ng-container>
