<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <p [innerHTML]="quiz.description.text"></p>

    <ng-container *ngIf="quiz && questions">
      <div class="card" style="margin-bottom: 20px;" *ngFor="let question of questions.questions">
        <div class="card-header">
          <strong class="float-left">{{'question_index' | translate:{index: question.sort} }} <span *ngIf="!question.active" class="badge badge-secondary">{{ 'inactive' | translate }}</span></strong>
          <a class="float-right"
             routerLink="/quizzes/{{quiz.id}}/questions/{{question.id}}">{{ 'edit' | translate }}</a>
          <div class="clearfix"></div>
        </div>
        <div class="card-body">
          <div class="card-title" [innerHTML]="question.text.text"></div>
          <div class="form-group">
            <ng-container *ngIf="question.answers">
              <div class="form-check" *ngFor="let answer of question.answers">
                <input class="form-check-input" type="radio" [name]="'answers[' + question.id + ']'" id="answers_{{answer.id}}">
                <label class="form-check-label" [attr.for]="'answers_' + answer.id">
                  {{alphabet[answer.sort - 1]}}: <span [innerHTML]="answer.text.text"></span>
                </label>
              </div>
            </ng-container>
            <div class="form-group" *ngIf="question.type === 'free_response'">
              <label [attr.for]="'free_response_' + question.id">{{ 'your_answer' | translate }}:</label>
              <textarea
                class="form-control"
                id="free_response_{{question.id}}"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-warning" *ngIf="questions && questions.questions.length === 0">{{ 'no_questions_found' | translate }}</div>
    </ng-container>
  </div>
</div>
