<ws-header
  [currentUser]="user"
  [appName]="'Quizzes'"
  (logoutClick)="logout()"
  [isLoggedIn]="isLoggedIn"
  [showLoginAndLogoutButtons]="true">
</ws-header>

<div class="container">
<!--  <app-breadcrumb-->
<!--    [showHomeItem]="true"-->
<!--    [homeItemText]="'Home'"-->
<!--    [homeItemRoute]="'/'">-->
<!--  </app-breadcrumb>-->
  <router-outlet></router-outlet>
</div>

<ws-footer>
  <div left>
    <h2>WorldSkills</h2>
    <ul>
      <li><a href="https://www.worldskills.org/">Home</a></li>
      <li><a href="https://www.worldskills.org/internal/">Member Area</a></li>
      <li><a href="http://forums.worldskills.org/">Forums</a></li>
      <li><a href="http://glossary.worldskills.org/">Glossary</a></li>
    </ul>
    <br/><br/>
    <ul class="list-inline">
      <li class="list-inline-item">© {{date | date:'yyyy'}} WorldSkills International</li>
      <li class="list-inline-item"><a
        href="https://www.worldskills.org/site/privacy/">Privacy</a></li>
      <li class="list-inline-item"><a href="https://www.worldskills.org/site/terms/">Terms</a>
      </li>
    </ul>
  </div>
</ws-footer>
