<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WorldSkills Quiz</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- build:css styles/main.css -->
<link rel="stylesheet" href="bower_components/worldskills-bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="bower_components/angular-worldskills-utils/src/spinner.css">
<link rel="stylesheet" href="bower_components/select2/select2.css">
<link rel="stylesheet" href="bower_components/select2/select2-bootstrap.css">
<link rel="stylesheet" href="styles/app.css">
<!-- endbuild -->

<!--[if lte IE 9]>
<script src="//cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.min.js"></script>
<script src="xdomain/xdomain.js"></script>
<![endif]-->
</head>
<body ng-app="quizzesApp" ng-controller="ContainerCtrl">
    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="navbar navbar-worldskills navbar-static-top">
        <div class="cube-container">
            <div class="cube-right-bottom-blue">&nbsp;</div>
        </div>
        <div class="container" ng-cloak>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-show="auth.loggedIn">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Quiz</a>
            </div>
            <div ng-show="auth.loggedIn">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                {{auth.user.first_name || ""}} {{auth.user.last_name || ""}} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container" ng-cloak ng-show="auth.loggedIn">
        <div ui-view></div>

        <hr class="hr-extended">

        <footer>
            <div class="row">
                <div class="col-sm-push-8 col-sm-4 col-md-push-10 col-md-2">
                    <h5>WorldSkills</h5>
                    <ul class="list-unstyled">
                    <li><a href="https://www.worldskills.org/">Home</a></li>
                    <li><a href="https://www.worldskills.org/internal/">Member Area</a></li>
                    <li><a href="http://forums.worldskills.org/">Forums</a></li>
                    <li><a href="http://glossary.worldskills.org/">Glossary</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <p>© {{date | date:'yyyy'}} WorldSkills International · <a href="https://www.worldskills.org/site/privacy/">Privacy</a> · <a href="https://www.worldskills.org/site/terms/">Terms</a></p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div ng-show="auth.loggedIn">
                        <p class="site-user">{{auth.user.first_name || ""}} {{auth.user.last_name || ""}}, <a href="#" ng-click="logout()">Logout</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>

    <script src="bower_components/select2/select2.min.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>

    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="bower_components/angular-worldskills-utils/src/angular-worldskills-utils.js"></script>
    <!-- endbuild -->

    <script src="bower_components/ckeditor/ckeditor.js"></script>

    <!-- build:js scripts/app.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/directives/form.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/directives/ckeditor.js"></script>
    <script src="scripts/controllers/container.js"></script>
    <script src="scripts/controllers/quizzes.js"></script>
    <script src="scripts/controllers/questions.js"></script>
    <script src="scripts/services/alert.js"></script>
    <script src="scripts/services/Quiz.js"></script>
    <script src="scripts/services/Question.js"></script>
    <script src="scripts/services/Answer.js"></script>
    <script src="scripts/services/QuizAttempt.js"></script>
    <!-- endbuild -->
</body>
</html>
