<ng-container *ngIf="quiz">
  <div class="alert alert-warning" role="alert" *ngIf="quiz.has_attempts">
    <b>{{ 'quiz_already_has_attempts' | translate }}</b>
    <br>
    {{ 'message_quiz_with_attempts_warning' | translate }}
  </div>

  <div class="btn-toolbar float-right">
    <button (click)="shareQuiz()" class="btn btn-primary mr-2">{{ 'share_quiz' | translate }}</button>
    <button (click)="deleteQuiz()" class="btn btn-danger" id="deleteQuiz">
      <ng-container *ngIf="!deleteLoading">{{ 'delete_quiz' | translate }}</ng-container>
      <ng-container *ngIf="deleteLoading">
        <ws-spinner></ws-spinner>
      </ng-container>
    </button>
  </div>

  <h2>{{quiz.title.text}}</h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/quizzes/{{quiz.id}}">{{ 'quiz' | translate }}</a>
    </li>
    <li class="nav-item" *wsUserRole="['Admin', 'EditQuizzes']; appId: 1300">
      <a class="nav-link" routerLinkActive="active" routerLink="/quizzes/{{quiz.id}}/questions">{{ 'questions' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/quizzes/{{quiz.id}}/preview">{{ 'preview' | translate }}</a>
    </li>
    <li class="nav-item" *wsUserRole="['Admin', 'EditQuizzes']; appId: 1300">
      <a class="nav-link" routerLinkActive="active" routerLink="/quizzes/{{quiz.id}}/translations">{{ 'translations' | translate }}</a>
    </li>
    <li class="nav-item" *wsUserRole="['Admin', 'ViewAllAttempts']">
      <a class="nav-link" routerLinkActive="active" routerLink="/quizzes/{{quiz.id}}/attempts">{{ 'attempts' | translate }}</a>
    </li>
  </ul>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</ng-container>
<ws-spinner *ngIf="!quiz"></ws-spinner>
