<div style="background-color: #ff6c0d; padding: 10px 20px; color: #fff; text-align: center;" *ngIf="environmentWarning">
    {{environmentWarning}}
</div>
<div style="background-color: #D51067; padding: 10px 20px; color: #fff; text-align: center;" *ngIf="authStatus.user && authStatus.user.puppeteer">
    {{authStatus.user.puppeteer.first_name}} {{authStatus.user.puppeteer.last_name}} logged in as {{authStatus.user.fullname}}
</div>

<ws-header
  [menuItems]="[]"
  [currentUser]="authStatus.user"
  [appName]="'Quizzes'"
  (loginClick)="login()"
  (logoutClick)="logout()"
  [isLoggedIn]="authStatus.user && authStatus.isLoggedIn"
  [showLoginAndLogoutButtons]="true">
</ws-header>

<div class="container">
  <ws-breadcrumbs
    *ngIf="showBreadcrumb"
    [showHomeItem]="true"
    [homeItemText]="'Quizzes'"
    [homeItemRoute]="'/quizzes'">
  </ws-breadcrumbs>
  <div *ngIf="!showBreadcrumb" class="mt-5"></div>
  <ws-alert></ws-alert>
  <router-outlet></router-outlet>
</div>

<ws-footer
  [currentUser]="authStatus.user"
  (loginClick)="login()"
  (logoutClick)="logout()"
  [isLoggedIn]="authStatus.user && authStatus.isLoggedIn"
>
</ws-footer>
