<p class="float-right">
  <button *wsUserRole="['Admin', 'EditQuizzes']; appId: 1300" routerLink="/quizzes/create" class="btn btn-success">{{'add_quiz' | translate}}</button>
</p>

<h2>{{'quizzes' | translate}}</h2>

<div class="row mt-2">
  <div class="col-md-9">
    <div class="table-responsive-md">
      <table class="table table-striped border-top">
        <colgroup>
          <col width="60%">
          <col width="10%">
          <col width="30%">
        </colgroup>
        <thead>
        <tr>
          <th class="border-top-0">{{'th_title' | translate}}</th>
          <th class="border-top-0">{{'th_active' | translate}}</th>
          <th class="border-top-0">{{'th_event' | translate}}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="3"></td>
        </tr>
        </tfoot>
        <tbody>
        <ng-template [ngIf]="quizzes && !loading" [ngIfElse]="loader">
          <tr *ngFor="let quiz of quizzes.quizzes">
            <td><a routerLink="/quizzes/{{quiz.id}}"
                   title="{{quiz.title.text}}">{{quiz.title.text}}</a></td>
            <td>
              <fa-icon *ngIf="quiz.active" [icon]="faCheck" class="text-success"></fa-icon>
              <fa-icon *ngIf="!quiz.active" [icon]="faTimes" class="text-danger"></fa-icon>
            </td>
            <td>{{quiz.event ? quiz.event.name : ''}}</td>
          </tr>
          <tr *ngIf="quizzes.quizzes.length === 0">
            <td colspan="3">{{'no_quizzes_found' | translate}}</td>
          </tr>
        </ng-template>
        <ng-template #loader>
          <tr>
            <td colspan="3">
              <ws-spinner></ws-spinner>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="quizzes">
      <ngb-pagination
        [collectionSize]="quizzes.total_count"
        [page]="(fetchParams.offset / fetchParams.limit) + 1"
        [pageSize]="fetchParams.limit"
        [maxSize]="10"
        [boundaryLinks]="true"
        (pageChange)="changePage($event)">
      </ngb-pagination>
    </ng-container>
  </div>
  <div class="col-3">
    <app-quizzes-filter [fetchParams]="fetchParams" (filter)="filter($event)" (clear)="clear()"></app-quizzes-filter>
  </div>
</div>
