/* You can add global styles to this file, and also import other style files */
.card img {
  vertical-align: top;
  max-width: 100%;
}

@media (min-width: 768px) {

  .table {
    table-layout: fixed;
  }

  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
