<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.question.$invalid}">
        <label for="question" class="col-sm-3 control-label">Question <span class="required">*</span></label>
        <div class="col-sm-5">
            <textarea class="form-control" id="question" name="question" rows="6" required ng-model="question.text.text" tabindex="1" ck-editor></textarea>
        </div>
        <div class="col-sm-4">
            <span class="help-block" ng-show="submitted && form.question.$error.required">Please enter a question!</span>
        </div>
    </div>

    <div ng-repeat="answer in answers">
        <hr/>
        <div class="form-group" ng-show="!answer.removed">
            <label for="question" class="col-sm-3 control-label">Answer</label>
            <div class="col-sm-5">
                <textarea class="form-control" id="question" rows="2" ng-model="answer.text.text" tabindex="2" ck-editor></textarea>
                
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="correct" ng-model="answer.correct" ng-change="changeCorrect(answer)">
                        This answer is correct
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-danger btn-xs" ng-click="removeAnswer(answer)" ng-show="!question.quiz.has_attempts"><span class="glyphicon glyphicon-ban-circle"></span> Remove answer</button>
            </div>
        </div>
        <div class="form-group" ng-show="answer.removed">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="button" class="btn btn-default btn-xs" ng-click="restoreAnswer(answer)" ng-show="!question.quiz.has_attempts"><span class="glyphicon glyphicon-repeat"></span> Restore answer</button>
            </div>
        </div>
    </div>
    
    <div ng-show="!question.quiz.has_attempts">
        <hr/>
        <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <p class="help-block">All answers will automatically be randomized for each attempt.</p>
        </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success btn-xs" ng-click="addAnswer()"><span class="glyphicon glyphicon-plus"></span> Add answer</button>
            </div>
        </div>
    </div>
    
    <hr/>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success" id="saveQuiz" tabindex="3">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="quizzes.quiz.questions({id: question.quiz.id})" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
