<ol class="breadcrumb">
    <li><a ui-sref="quizzes.list">Quizzes</a></li>
    <li><a ui-sref="quizzes.quiz.form({id: question.quiz.id})">{{question.quiz.title.text}}</a></li>
    <li><a ui-sref="quizzes.quiz.questions({id: question.quiz.id})">Questions</a></li>
    <li class="active">Question</li>
</ol>

<alerts></alerts>

<div class="alert alert-warning" role="alert" ng-show="question.quiz.has_attempts">
    <p>The Quiz of this Question already has attempts. Answers cannot be deleted or added.</p>
</div>

<div class="page-header">
    <p class="pull-right">
        <button ng-click="deleteQuestion()" class="btn btn-danger" ng-show="!question.quiz.has_attempts">Delete Question<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
        <button ng-click="deactivateQuestion()" class="btn btn-danger" ng-show="question.quiz.has_attempts && active">Deactivate Question<ws-text-spinner ng-show="deactivateLoading" class="ng-hide"></ws-text-spinner></button>
        <button ng-click="activateQuestion()" class="btn btn-success" ng-show="question.quiz.has_attempts && !active">Activate Question<ws-text-spinner ng-show="activateLoading" class="ng-hide"></ws-text-spinner></button>
    </p>

    <h1>Question <span ng-show="!active" class="badge">Inactive</span></h1>
</div>

<div id="content" ui-view>
</div>
