
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">

        <div class="page-header">
            <h1 ng-show="quiz.title">{{quiz.title.text}}</h1>
            <h1 ng-show="quizError.status == 404">Quiz not found</h1>
        </div>

        <div ng-show="attempt.state === 'finished' && attempt.passed === false" class="alert alert-danger" role="alert">
            Your attempt failed with <strong>{{attempt.score}} of {{attempt.questions_count}}</strong> answers correct. <a href="#" class="alert-link" ng-click="retry()">Please take the quiz again</a>.
        </div>
        <div ng-show="attempt.state === 'finished' && attempt.passed" class="alert alert-success" role="alert">
            You have passed with <strong>{{attempt.score}} of {{attempt.questions_count}}</strong> answers correct<span ng-show="quiz.url_success">, <a href="{{quiz.url_success}}" class="alert-link">please continue</a></span>.
        </div>
        <div ng-show="attempt.state === 'running'">
            <p>
                Your answers are automatically saved, to finish this attempt click “Submit and finish Quiz” at the end of the page.
                <span ng-show="quiz.require_score_pass === null">All answers must be correct to pass.</span>
                <span ng-show="quiz.require_score_pass !== null">You need to answer <strong>{{quiz.required_score_pass}}</strong> questions correctly to pass.</span>
            </p>
            <br/>
        </div>

        <div ng-show="quizError.status == 404" class="alert alert-danger" role="alert">The requested Quiz could not be found.</div>
        <div ng-show="!quizError && attemptError.status == 401" class="alert alert-danger" role="alert">You do not have the required permissions to attempt this Quiz.</div>

        <div class="panel" ng-class="{'panel-default': question.correct === null, 'panel-danger': question.correct === false, 'panel-success': question.correct === true}" ng-repeat="question in attempt.questions">
            <div class="panel-heading">
                <h3 class="panel-title">Question {{question.sort}}</h3>
            </div>
            <div class="panel-body">
                <div class="lead" ng-bind-html="question.text.text"></div>
                <div class="form-group">
                    <div class="radio" ng-repeat="answer in question.answers">
                        <label>
                            <input type="radio" ng-model="questions[question.id]" ng-change="selectAnswer()" ng-value="answer.id" ng-disabled="attempt.state === 'finished'">
                            <span ng-class="{'text-danger': questions[question.id] === answer.id && question.correct === false, 'text-success': (questions[question.id] === answer.id && question.correct === true) || (answer.correct === true && question.correct === false)}">
                                {{alphabet[answer.sort-1]}}: <span ng-bind-html="answer.text.text"></span>
                            </span>
                            <span class="label label-danger" ng-show="questions[question.id] === answer.id && question.correct === false">Inorrect</span>
                            <span class="label label-success" ng-show="(questions[question.id] === answer.id && question.correct === true) || (answer.correct === true && question.correct === false)">Correct</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" ng-show="attempt.state === 'running'" ng-click="finish()">
                    Submit and finish Quiz
                    <spinner ng-show="loading" class="ng-hide"></spinner>
                </button>
    
                <button type="button" class="btn btn-primary" ng-show="attempt.state === 'finished'" ng-click="retry()">
                    Take Quiz again
                    <spinner ng-show="loading" class="ng-hide"></spinner>
                </button>
            </div>
    
            <div class="col-sm-6">
                <a class="btn btn-link pull-right" ng-show="quiz.url_learning && (attempt.state === 'running' || attempt.passed === false || attemptError.status == 401)" href="{{quiz.url_learning}}">« Return to learning resources</a>
    
                <a class="btn btn-success pull-right" ng-show="attempt.state === 'finished' && attempt.passed && quiz.url_success" href="{{quiz.url_success}}">Continue »</a>
            </div>
        </div>

    </div>
</div>
