<form class="form-horizontal" name="form" novalidate focus-error ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="title" class="col-sm-3 control-label">Title <span class="required">*</span></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="title" required ng-model="quiz.title.text">
        </div>
        <div class="col-sm-5">
            <span class="help-block" ng-show="submitted && form.title.$error.required">Please enter a title!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.ws_entity.$invalid}">
        <label for="ws_entity" class="col-sm-3 control-label">Entity <span class="required">*</span></label>
        <div class="col-sm-4">
            <select ui-select2 class="form-control" id="ws_entity" name="ws_entity" required ng-model="quiz.ws_entity.id">
                <option ng-repeat="entity in entities" value="{{entity.id}}">{{entity.name.text}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <span class="help-block"><span ng-show="submitted && form.ws_entity.$error.required">Please select an entity!</span> Owner of the entry, select the organization you are working for.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="skill" class="col-sm-3 control-label">Skill</label>
        <div class="col-sm-4">
            <select ui-select2="{allowClear: true}" class="form-control" id="skill" name="skill" ng-model="quiz.skill.id">
                <option></option>
                <option ng-repeat="skill in skills" value="{{skill.id}}">{{skill.name.text}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="max_questions" class="col-sm-3 control-label">Max Questions</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="max_questions" ng-model="quiz.max_questions">
        </div>
    </div>
    <div class="form-group">
        <label for="required_score_pass" class="col-sm-3 control-label">Required score to pass</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="required_score_pass" ng-model="quiz.required_score_pass">
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <span class="help-block">Leave empty to require all answers to be correct.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="random_questions" ng-model="quiz.random_questions">
                    Show random Questions
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="reveal_correct_answers" ng-model="quiz.reveal_correct_answers">
                    Reveal correct answers after finishing quiz
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="url_learning" class="col-sm-3 control-label">URL Learning</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="url_learning" ng-model="quiz.url_learning">
        </div>
        <div class="col-sm-5">
            <span class="help-block">Address with information about the questions.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="url_success" class="col-sm-3 control-label">URL Success</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="url_success" ng-model="quiz.url_success">
        </div>
        <div class="col-sm-5">
            <span class="help-block">Link for the user to continue after a passed quiz.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success" id="saveQuiz">Save<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="quizzes.list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
