
<div class="row">
    <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

        <div class="page-header">
            <h1>{{quiz.title.text}}</h1>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <p>To begin a new attempt of this quiz, click on
                    “Start Quiz”.</p>

                <button type="submit" class="btn btn-success">
                    Start Quiz
                    <spinner ng-show="loading" class="ng-hide"></spinner>
                </button>

                <hr/>

            </div>
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Previous attempts</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item"><span class="label label-success pull-right">10 / 10</span> 24 September 2014 12:21</a>
                        <a href="#" class="list-group-item"><span class="label label-danger pull-right">4 / 10</span> 24 September 2014 12:21</a>
                        <a href="#" class="list-group-item"><span class="label label-danger pull-right">3 / 10</span> 24 September 2014 12:21</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
