
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">

        <div class="panel panel-default" ng-repeat="question in questions">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Question {{question.sort}}</h3>
                <a class="pull-right" ui-sref="quizzes.question.form({id: question.id})">Edit</a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="lead" ng-bind-html="question.text.text"></div>
                <div class="form-group">
                    <div class="radio" ng-repeat="answer in question.answers">
                        <label>
                            <input type="radio">
                            <span>
                                {{alphabet[answer.sort-1]}}: <span ng-bind-html="answer.text.text"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
