<ol class="breadcrumb">
    <li><a ui-sref="quizzes.list">Quizzes</a></li>
    <li><a ui-sref="quizzes.quiz.form({id: quiz.id})">{{quiz.title.text}}</a></li>
    <li><a ui-sref="quizzes.quiz.translations({id: quiz.id})">Translations</a></li>
    <li class="active">{{locale|translate}}</li>
</ol>

<p class="pull-right">
    <button ng-click="deleteTranslation()" class="btn btn-danger">Delete Translation<ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<h1>{{title || " "}}</h1>

<hr/>

<div id="content" ui-view>
</div>
